src/main/resources/ml/rubert_tiny2_model/model.safetensors filter=lfs diff=lfs merge=lfs -text
src/main/resources/ru_bert.onnx filter=lfs diff=lfs merge=lfs -text
src/main/resources/ml/ru_bert_traced.pt filter=lfs diff=lfs merge=lfs -text
